<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Tailwind CSS CDN --}}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {{!-- FontAwesome symbol CDN --}}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {{!-- CSS File --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Crypto Investment Tracker</title>
    {{!-- moment.js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="bg-blue-700">
    {{{ body }}}



    {{!-- jQuery CDN --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!-- Js Files --}}
    <script src="/assets/js/crypto.js"></script>
    <script src="/assets/js/sign-in.js"></script>
    <script src="/assets/js/signup.js"></script>
    <script src="/assets/js/savedCoins.js"></script>
</body>
</html>