{{>header}}
<h1 class="text-white">Saved Coins</h1>

<ul class="text-white">
  {{#each coins}}
    <li>{{this.dataValues.name}}</li>
    {{!-- <button>Log A Deposit</button> --}}
  {{/each}}
</ul>

{{>footer}}