
{{> header}}
{{!-- Search Section --}}
{{!-- <h1>Crypto Dashboard</h1> --}}

<div class="grid grid-rows-2 grid-flow-col gap-4">
  <div class="border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl border-opacity-75 h-96 w-96 row-span-3 ..."></div>
        <div class="coinReturn text-color-white border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl  border-opacity-75 col-span-2 ...">
    <div class="coinReturn text-white">
        <div class="currentSrch">
        {{ searchedCoin }}
        </div>
        <div class="coinDetail"></div>
        <div class="currentInd"></div>
    
    </div>
        </div>
  {{!-- Index Indicators --}}
    <div class="bg-none">
        <div class= "rsi index1 inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl">
             <div class="rsi"></div>  
        </div>
        <div class= "macd index2 inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl">
            <div class="macd"></div> 
        </div>
        <div class= "ema index3 inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl">
            <div class="ema"></div>
        </div>
        <div class= "sma index4 inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl">
          <div class="sma"></div>
        </div>

 
    </div>
</div>

{{> footer}}