<a href="/sign-out">Logout</a>

<h1>Crypto Dashboard</h1>


<div class="searchArea">
    <input class="searchFld py-2 rounded coinName" type="text" placeholder="Currency Name">
    <span>
        <button class="searchBtn bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-6 rounded">
            <i class="fas fa-search"></i>
        </button>
    </span>
</div>


<div class="coinReturn">
    <div class="currentSrch">
        {{ searchedCoin }}
    </div>
    <div class="coinDetail"></div>
    <div class="currentInd"></div>
    <div class="rsi"></div>
    <div class="macd"></div>   
    <div class="ema"></div>
    <div class="sma"></div>
</div>



