
{{> header}}
{{!-- Search Section --}}
{{!-- <h1>Crypto Dashboard</h1> --}}

<div class="grid grid-rows-1 h-full grid-flow-col gap-4 mt-14 flex-wrap">
  <div class="buttonDump inline-block border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl border-opacity-75 h-96 w-96 row-span-3 col-span-2 mt-10 ml-32 flex flex-wrap justify-center ..."></div>
        <div class="coinReturn text-white border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl  border-opacity-75 col-span-2 h-56 mr-44 flex flex-wrap p-4 ...">
            {{!-- <div class= "coinInforSection h-4 ">
            <h1>Coin Details</h1>
        </div> --}}
    <div class="coinReturn text-white text-lg ml-60 mt-5 ...">
        
        <div class="currentSrch text-white text-2xl">
        {{ searchedCoin }}
        </div>
        <div class="coinDetail text-gray-400"></div>
        <div class="currentInd"></div>
    
    </div>
        </div>
  {{!-- Index Indicators --}}
    <div class="indexList bg-none h-98 mt-16 ml-14 flex flex-wrap">
        <div class= "relative inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl text-xl">
             <div class="rsi ml-10 mt-10"></div>  
        </div>
        <div class= "relative inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl">
            <div class="macd ml-10 mt-10 text-xl"></div> 
        </div>
        <div class= "index3 relative inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl">
            <div class="ema ml-10 mt-10 text-xl"></div>
        </div>
        <div class= "index4 inline-block text-white h-52 w-48 border-green-500 border-opacity-75 border-t-4 border-b-4 rounded-t-3xl rounded-b-3xl">
          <div class="sma ml-10 mt-10 text-xl"></div>
        </div>

 
    </div>
</div>

{{> footer}}