{{> header}}
<h1>Sign In</h1>

<div>
    <form>
        <input class="searchFld py-2 rounded" id="userInput" type="text" placeholder="username">
    </form>
    <span>
        <button class="sign-in">Sign In</button>
    </span>

    <h4>Don't have an account yet?</h4>

    <a href="/signup"><span><button>Sign Up</button></span></a>

</div>

{{>footer}}