<h1>Sign up to Save Coins!</h1>

<h2>Choose a username to save your coins to.</h2>

<div>
    <form>
        <input class="searchFld py-2 rounded" type="text" placeholder="username">
    </form>
    <span><button>Sign Up</button></span>
</div>