<h1>Sign up to Save Coins!</h1>

<h2>Choose a username to save your coins to.</h2>

<div>
    <form class="signup">
        <div class="form-group">
            <label for="exampleUsername1">Username</label>
            <input class="searchFld py-2 rounded usernameInput" type="text" placeholder="username">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="searchFld py-2 rounded user-input" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="searchFld py-2 rounded user-input" id="password-input" placeholder="Password">
        </div>
        <button class="signup" type="submit">Sign Up</button>
    </form>

     <p>Or sign in <a href="/sign-in">here</a></p>
</div>