{{> header2 }}

<div class="flex items-center min-h-screen text-white">
    
	<div class="container max-w-6xl px-5 mx-auto my-10">
        <div class="text-white text-7xl font-semibold flex items-center justify-center pb-10">Meet the Team!</div>
		<div class="grid gap-7 sm:grid-cols-1 lg:grid-cols-2 pb-36">
            
			<div class="p-10 rounded shadow-sm border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl border-opacity-75 mt-10 mx-0.5 justify-center">
                <div class="flex items-center pt-1 justify-center">
                    <img class="rounded-full h-48 flex items-center justify-center" src="./assets/img/chris_headshot.png">
                </div>
				<div class="flex items-center pt-1 justify-center">
					<div class="text-4xl font-bold text-white mt-4">Chris Hoffman</div>
				</div>

                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://github.com/MrFIVEfourONE" class="hover:bg-gray-600 hover:text-white px-3 py-2 rounded-md font-medium items-end text-base text-xl text-gray-200 mt-2" target="_blank">GitHub <i class="fab fa-github fa-lg"></i></a>
                </div>
                
                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://mrfivefourone.github.io/My_coolio_portfolio/index.html" class="hover:bg-green-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium items-end text-gray-200" target="_blank">Portfolio <i class="fal fa-globe fa-lg"></i></a>
                </div>
			</div>

			<div class="p-10 rounded shadow-sm border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl border-opacity-75 mt-10 mx-0.5 justify-center">
                <div class="flex items-center pt-1 justify-center">
                    <img class="rounded-full h-48 flex items-center justify-center" src="./assets/img/jayme_headshot.png">
                </div>
				<div class="flex text-4xl items-center pt-1 justify-center">
					<div class="font-bold text-white mt-4">Jayme Mizelle</div>
				</div>
                <div class="flex items-center pt-1 justify-center">
                    <div class="text-base text-xl text-gray-200 mt-2">
                        <a href="https://www.linkedin.com/in/jayme-mizelle/" class="hover:bg-blue-700 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium items-end" target="_blank">LinkedIn <i class="fab fa-linkedin fa-lg"></i></a>
                    </div>
                </div>
                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://github.com/jaymemizelle/" class="hover:bg-gray-600 hover:text-white px-3 py-2 rounded-md font-medium items-end text-base text-xl text-gray-200 mt-2" target="_blank">GitHub <i class="fab fa-github fa-lg"></i></a>
                </div>
                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://jaymemizelle.github.io/engineer-portfolio/" class="hover:bg-green-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium items-end text-gray-200" target="_blank">Portfolio <i class="fal fa-globe fa-lg"></i></a>
                </div>
			</div>

			<div class="p-10 rounded shadow-sm border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl border-opacity-75 mt-10 mx-0.5 justify-center">
                <div class="flex items-center pt-1 justify-center">
                    <img class="rounded-full h-48 flex items-center justify-center" src="./assets/img/ruben_headshot.png">
                </div>
				<div class="flex items-center pt-1 justify-center">
					<div class="text-4xl font-bold text-white mt-4">Ruben Sainz Linarez</div>
				</div>
                <div class="flex items-center pt-1 justify-center">
                    <div class="text-base text-xl text-gray-200 mt-2">
                        <a href="https://www.linkedin.com/in/ruben-s-906bb68b/" class="hover:bg-blue-700 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium items-end " target="_blank">LinkedIn <i class="fab fa-linkedin fa-lg"></i></a>
                    </div>
                </div>
                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://github.com/rsainzlinarez" class="hover:bg-gray-600 hover:text-white px-3 py-2 rounded-md font-medium items-end text-base text-xl text-gray-200 mt-2" target="_blank">GitHub <i class="fab fa-github fa-lg"></i></a>
                </div>
                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://rsainzlinarez.github.io/Responsive-Portfolio/" class="hover:bg-green-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium items-end text-gray-200" target="_blank">Portfolio <i class="fal fa-globe fa-lg"></i></a>
                </div>
			</div>

			<div class="p-10 rounded shadow-sm border-green-500 border-r-4 border-l-4 rounded-b-3xl rounded-t-3xl border-opacity-75 mt-10 mx-0.5 justify-center">
                <div class="flex items-center pt-1 justify-center">
                    <img class="rounded-full h-48 flex items-center justify-center" src="./assets/img/hay_headshot.png">
                </div>
				<div class="flex items-center pt-1 justify-center">
					<div class="text-4xl font-bold text-white mt-4">Hayley Wahlroos</div>
				</div>
                <div class="flex items-center pt-1 justify-center">
                    <div class="text-base text-xl text-gray-200 mt-2">
                        <a href="https://www.linkedin.com/in/wahlroos/" class="hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md font-medium items-end" target="_blank">LinkedIn <i class="fab fa-linkedin fa-lg"></i></a>
                    </div>
                </div>
                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://github.com/haywah27" class=" hover:bg-gray-600 hover:text-white px-3 py-2 rounded-md font-medium items-end text-base text-xl text-gray-200 mt-2" target="_blank">Github <i class="fab fa-github fa-lg"></i></a>
                </div>
                <div class="flex text-xl items-center pt-1 justify-center">
                    <a href="https://haywah27.github.io/Wahlroos-Portfolio/" class="hover:bg-green-500 hover:text-white px-3 py-2 rounded-md font-medium items-end text-gray-200" target="_blank">Portfolio <i class="fal fa-globe fa-lg"></i></a>
                </div>

                
			</div>

		</div>
	</div>
</div>



{{> footer}}